@import './colors';
@import './buttons';
@import './typography';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  width: 800px;
  margin: 2em auto;
}

.oscillator-frequency {
  width: 50%;
  margin-bottom: 1em;
  margin-right: 1em;
  float: left;
  input {
    width: 100%;
    padding: 0.5em;
    font-size: 6em;
    text-align: center;
  }
}

.oscillator-type {
  padding: 0.5em;
  margin-bottom: 1em;
  input {
    margin-right: 1em;
  }
  label {
    padding: 0.6em;
    display: block;
    margin: 0.5em;
  }
}

#gain-value {
  width: 100%;
  margin-bottom: 2em;
}

#start-stop {
  width: 100%;
  font-size: 1.4em;
  display: block;
  .on {
    background-color: $red;
    border-color: darken($red, 10);
  }
}
